body {
  background: url("https://i.postimg.cc/9M6mV9vj/the-sims-4.jpg") no-repeat center
    center fixed;
  background-size: cover;
  font-family: "Gabarito", sans-serif;
  margin: 20px;
}

.logo {
  text-align: end;
}

.logo img {
  width: 10%;
}

/* Caixa principal do jogo */
.conteudo-jogo {
  background: rgba(0, 0, 0, 0.7); /* fundo preto com 70% de transparência */
  box-shadow: 0 0 5px #00ff7f; /* sombra verde neon */
  margin: 20px auto; /* margem ajustada e centralizada horizontalmente */
  padding: 20px;
  height: 50vh;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* Removido o efeito hover */


/* Títulos e textos */
h2,
p {
  color: #315dab;
}

/* Estrutura do questionário */
.questionario {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 70%;
  max-width: 70%;
}

/* Área de conteúdo */
.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  gap: 20px;
}

/* Estilo da pergunta */
.pergunta {
  font-weight: 600;
  color: #21b96b;
}

/* Progresso da pergunta */
.progresso {
  text-align: end;
  font-size: small;
  font-weight: 500;
  color: #21b96b;
}

/* Área das respostas */
.respostas {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Botões de resposta */
.botao-resposta {
  width: 100%;
  height: 2.5rem;
  text-align: start;
  padding: 5px;
  border: none;
  cursor: pointer;
  background: #4276b7;
  color: white;
}

.botao-resposta:hover {
  background: #21b96b;
  font-weight: 600;
}

/* Tela de fim do jogo */
.fim {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.fim span {
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 600;
  color: white;
}