/* Global Styles */
body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  position: relative;
}

/* Logo Styles */
.logo {
  position: absolute;
  top: 20px;
  right: 20px;
  max-width: 150px;
  width: auto;
}

/* Container with the background image */
.container {
  background: url('https://lh3.googleusercontent.com/proxy/TUGuelXWlWBRaVzya6zfNR7wrxCHMs8LSJNdOotK2SJ8tZjzudJrzCUNWVG3hm7WmgR3xxe4pTFUAsHHaHJKEUMn3009_7SAYBF4oZRzGHNQ75KDVbOLhXxeGx7YrBFTEEjN7ZNgPSj1CqmlCocabLPCqV6DyBHr8Wyzayc20oZsQLn7fD2IKpv36ONyEw') no-repeat center center/cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Content div for text and button */
.content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
  border-radius: 8px;
}

.content h2 {
  margin-bottom: 20px;
}

/* Button Styles */
button {
  background-color: #315dab;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #315dab;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 10px;
}
